In [1]:
import pandas as pd

In [2]:
### HEDWIG ###
model = 'bert'
dirs = f'../../hedwig/model_checkpoints/{model}/Kakuyomu/result-logs'
path = f'{dirs}/result-2023-02-07(FM-S).jsonl'

In [3]:
df = pd.read_json(path, lines=True)

In [4]:
df

    label  type                date training time  accuracy    loss
0       1   dev 2023-02-02 14:00:42      04:11:57    0.6704  0.6893
1       1  test 2023-02-02 14:02:18      04:11:57    0.7068  0.6264
2       2   dev 2023-02-02 17:21:47      03:17:43    0.7447  0.5306
3       2  test 2023-02-02 17:23:18      03:17:43    0.7278  0.5446
4       3   dev 2023-02-02 19:31:45      02:07:09    0.7997  0.4499
..    ...   ...                 ...           ...       ...     ...
73    281  test 2023-02-06 22:55:04      03:26:34    0.7345  0.6882
74    284   dev 2023-02-07 01:27:21      02:30:49    0.7767  0.4834
75    284  test 2023-02-07 01:28:34      02:30:49    0.7683  0.4942
76    291   dev 2023-02-07 11:14:58      09:41:23    0.6837  0.6010
77    291  test 2023-02-07 11:19:24      09:41:23    0.6720  0.6128

[78 rows x 6 columns]

In [20]:
print(df.loc[df['type']=='test']['accuracy'].to_string(index=False))

0.7068
0.7278
0.8149
0.7773
0.8002
0.7923
0.8126
0.7809
0.7367
0.7238
0.8062
0.8028
0.6641
0.6513
0.6957
0.7305
0.6218
0.6516
0.7496
0.7253
0.8079
0.7219
0.7349
0.8275
0.6427
0.5970
0.7310
0.6845
0.7300
0.5704
0.6913
0.8614
0.8595
0.7471
0.6677
0.7746
0.7345
0.7683
0.6720